$grayscale-primary: #2196F3 !default;
$grayscale-dark: #000 !default;
$grayscale-light: #ECECEC !default;

$grayscale-body-font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$grayscale-headline-font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$fa-font-path: '../bower_components/font-awesome/fonts';
